/**
 * Global app/site styles
 */
body {
	background: #000;

	@include respond-min($bp-mid){
		background: url(#{$img-path}/v1.png), 
		url(#{$img-path}/v1.png),
		#000;
		background-repeat: no-repeat, no-repeat;
		background-position: top left, top right;
	}
}

.masthead {
	width: 100%;
	background: #000;
	border-bottom: 1px #cba86a solid;
}

.logo-container {
	margin: 0 auto;
	max-width: 1150px;
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
}

.loreal-logo,
.eau-logo {
	display: block;
	margin: 10px auto;

	// @include respond-min($bp-mid){
	// 	display: inline-block;
	// }
}

.loreal-logo {
	@include respond-min($bp-narrow){
		float: left;
	}
}

.eau-logo {
	@include respond-min($bp-narrow){
		float: right;
	}
}

/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}

/* content style ------------------------------------------------------------------ */

.head-container {
	background: #000;
}

.content {
	@include respond-min($bp-mid){
		float: left;
		padding: 44px 0 0 40px;
		width: 50%;
	}

	h1 {
		color: #cba86a;
		font-family: "Times New Roman", Courier, Garamond, serif;
		font-style: italic;
		font-size: 2.5rem;
		font-weight: normal;
	}

	p {
		color: #fff;
	}
}

.bottle {
	width: 100%;

	@include respond-min($bp-mid){
		float: right;
		max-width: 372px;
	}
}

/* form style ------------------------------------------------------------------ */

.min-width {
	width: 100px;
}

.terms {
	width: 100%;

	.control--inline {
		vertical-align: top;
	}
}

.control a {
	color: #000;
	font-weight: bold;
	text-decoration: underline;

}

.control a .super {
	text-decoration: none;
}

.button-icon {
	margin-left: 7px;

}

.btn {
	background: url('#{$img-path}/btn.png') #cba86a no-repeat center right 10px;
	background-size: 26px 25px;
	padding-right: 50px;
}

// @include respond-min($bp-mid){}